@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #2b4c4a;
  --background-rgb: #c5eae7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #c5eae7;
    --background-rgb: #2b4c4a;
  }
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-rgb);
}